<div class="container">
  {{#if error}}
  <div class="row">
    <div class="col">
      <div class="alert alert-danger" role="alert">
        <strong>Whoops...</strong> {{error.text}}
      </div>        
    </div>
  </div>
  {{/if}}
  <form method="POST" action="/create">
    <label for="shortened" class="form-label">Your shortened URL</label>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon">https://lib.uncw.edu/</span>
      <input type="text" class="form-control" id="shortened" aria-describedby="Shortened URL" name="shortened">
    </div>
    <label for="dest-url" class="form-label">The destination URL (i.e., https://site.com/place/)</label>
    <div class="input-group mb-3">
      <input type="text" class="form-control" id="dest-url" aria-describedby="Destination URL" name="destination">
    </div>
    <label for="username" class="form-label">Your UNCW username</label>
    <div class="input-group mb-3">
      <input type="text" class="form-control" id="username" aria-describedby="Your name" name="username">
    </div>
    <button 
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>